<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
  <h1><span class="font-weight-bold">&#128441; Nuevo producto</span></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <form name="userForm" ng-show="!fallo&&!hecho">
        <div class="form-group row">
          <label for="codigo" class="col-sm-2 col-form-label">Código:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="codigo" class="form-control"
              ng-class="{ 'is-invalid' :!userForm.codigo.$valid && !userForm.codigo.$pristine}" name="codigo"
              ng-required="true" />
            <div class="invalid-feedback" ng-show="userForm.codigo.$invalid">
              El codigo no puede estar vacio.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="existencias" class="col-sm-2 col-form-label">Existencias:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="existencias" class="form-control"
              ng-class="{ 'is-invalid' :!userForm.existencias.$valid && !userForm.existencias.$pristine}"
              name="existencias" ng-required="true" />
            <div class="invalid-feedback" ng-show="userForm.existencias.$invalid">
              El existencias no puede estar vacio.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="precio" class="col-sm-2 col-form-label">Precio:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="precio" class="form-control"
              ng-class="{ 'is-invalid' :!userForm.precio.$valid && !userForm.precio.$pristine}" name="precio"
              ng-required="true" />
            <div class="invalid-feedback" ng-show="userForm.precio.$invalid">
              El campo precio no puede estar vacio.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="imagen" class="col-sm-2 col-form-label">Imagen:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="imagen" class="form-control"
              ng-class="{ 'is-invalid' :!userForm.imagen.$valid && !userForm.imagen.$pristine}" name="imagen"
              ng-required="true" />
            <div class="invalid-feedback" ng-show="userForm.imagen.$invalid">
              El campo imagen no puede estar vacio.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="descripcion" class="col-sm-2 col-form-label">Descripción:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="descripcion" class="form-control"
              ng-class="{ 'is-invalid' :!userForm.descripcion.$valid && !userForm.descripcion.$pristine}"
              name="descripcion" ng-required="true" />
            <div class="invalid-feedback" ng-show="userForm.descripcion.$invalid">
              El campo descripcion no puede estar vacio.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <tipoproducto-selection class="modal fade" id="cadd-location-modal" obj="tipo_producto_obj"
            on-tipoproducto-set="tipoProductoRefresh(this,false)">
          </tipoproducto-selection>
          <label for="tipo_producto_obj" class="col-sm-2 col-form-label">Tipo de producto:</label>
          <div class="col-sm-10">
            <div class="control">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" data-toggle="modal" data-target="#cadd-location-modal">
                    <span class="fas fa-search"></span>
                  </span>
                </div>
                <input ng-model="tipo_producto_obj.id" ng-change="tipoProductoRefresh(this,true)"
                  aria-describedby="basic-addon2" class="form-control" id="tipo_producto_obj" name="tipo_producto_obj"
                  type="number"
                  ng-class="{'is-invalid': !userForm.tipo_producto_obj.$valid  && !userForm.tipo_producto_obj.$pristine }"
                  min="1" ng-pattern="/^[1-9][0-9]?$|^100$/" ng-required="true"
                  ng-model-options="{debounce: 1000}">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <a>
                      <span class="p-2 bd-highlight"><i class="fas fa-boxes fa-1x"></i></span>
                      Tipo de producto: {{tipo_producto_obj.descripcion}}
                    </a>
                  </span>
                </div>
              </div>
              <div class="invalid-feedback" ng-show="userForm.tipo_producto_obj.$error.pattern">
                Id de producto inválido.
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-outline-dark" ng-click="new()">Crear producto</button>
          </div>
        </div>
      </form>
      <div ng-show="!fallo&&hecho">
        <div class="alert alert-success text-center" role="alert">
          <h2>Se ha añadido un nuevo post.</h2>
          <button class="btn btn-outline-dark" ng-click="cerrar()">Cerrar</button>
          <button class="btn btn-outline-dark" ng-click="volver()">Volver</button>
        </div>
      </div>
      <div ng-show="fallo&&hecho">
        <div class="alert alert-danger text-center" role="alert">
          <h2>Ha ocurrido un error al añadir el Post</h2>
          <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
          <button class="btn btn-outline-dark" ng-click="cerrar()">Cerrar</button>
          <button class="btn btn-outline-dark" ng-click="volver()">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>