<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1><span class="font-weight-bold"><i class="fas fa-boxes"></i> Nuevo tipo de producto</span></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form name="userForm" ng-show="!fallo&&!hecho">
                <div class="mt-4 form-group" ng-class="{'is-invalid': userForm.descripcion.$invalid}">
                    <label>Descripción:</label>
                    <input type="text" name="descripcion" class="form-control" ng-model="descripcion" ng-maxlength="50"
                        required>
                    <p ng-show="userForm.descripcion.$invalid && !userForm.descripcion.$pristine"
                        class="help-block red-text">
                        Formato de descripción inválido.
                    </p>
                </div>
                <div class="text-center mt-3" ng-show="botones">
                    <button type="button" class="btn btn-primary mt-2 mx-2" ng-click="new()">Crear tipo de
                        producto</button>
                    <button type="button" class="btn btn-danger mt-2 mx-2" ng-click="volver()">Volver atrás</button>
                </div>
            </form>
            <div ng-show="!fallo&&hecho">
                <div class="alert alert-success text-center" role="alert">
                    <h2>Se ha añadido un nuevo post.</h2>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
            <div ng-show="fallo&&hecho">
                <div class="alert alert-danger text-center" role="alert">
                    <h2>Ha ocurrido un error al añadir el Post</h2>
                    <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>